#top-header {
    background-color: rgb(197, 192, 192);
    height: 100px;
    width: 1500px
}

#sq {
    background: rgb(116, 116, 235);
    height: 50px;
    width: 50px;
    position: relative;
    top: 25px;
    left: 25px;
}

/* z index to use on the other sections? to cover over the white?  */


#darkBlue {
    background: blue;
    height: 300px;
    width: 1500px;
    position: relative;
    top: 50px;
    
}

#lightBlue {
    background: lightskyblue;
    height: 300px;
    width: 1500px;
    position: relative;
    top: 50px
}

#lightGreen {
    background: lightgreen;
    height: 300px;
    width: 1500px;
    position: relative;
    top: 50px;
}

#limeGreen {
    background: limegreen;
    height: 300px;
    width: 1500px;
    position: relative;
    top: 50px
}








